@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <div class="align-items-center">
            <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif" />
        </div>
    }
    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <div class="align-items-center">
            <p>No hay registros para mostrar.</p>
        </div>
    }
    else
    {
        @NoRecords
    }
}
else
{
    if (Records is not null)
    {
        @foreach (var item in MyList)
        {
            @Records(item)
        }
    }
    else
    {
        @RecordsComplete
    }
}


@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [Parameter]
    public RenderFragment<Titem>? Records { get; set; }

    [Parameter]
    public RenderFragment? RecordsComplete { get; set; }

    [Parameter]
    [EditorRequired]
    public List<Titem>? MyList { get; set; }
}