@page "/categories/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Crear Categoría</h3>

<CategoryForm @ref="categoryForm" Category="category" OnValidSubmit="Crear" />

@code {
    private Category category = new();
    private CategoryForm? categoryForm;

    private async Task Crear()
    {
        var httpResponse = await repository.Post("api/categories", category);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            categoryForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("categories");
        }
    }
}